
:root{
    --main-font: "Roboto", sans-serif;
    --accent-color: #212121;
    --secondary-color: #2196f3;
}
body {
    font-family: var(--main-font)
  }
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* header 1htm*/
.logo {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
}
.logo-text {
  color: var(--secondary-color);
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--accent-color) ;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-color);
}


.current{
    color: var(--secondary-color);
}

.mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--secondary-color);
}

.tel-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--secondary-color);
}

/* hero 1htm*/
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  color: #666363;
}

.modal-btn {
  background-color: var(--secondary-color);
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  
  color: #ffffff;
}

/* skill 1htm*/
.skill-title{
    display: none;
}


.roster-title{
 font-style: normal;
 font-weight: bold;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;

 color: var(--accent-color) ;

}


.skill-description{
 font-size: 14px;
 line-height: 1.714px;
 letter-spacing: 0.03em;

 color: #757575;
}

/* work 1htm*/
.work{font-weight: bold;
font-size: 36px;
line-height: 1.17;

color: var(--accent-color) ;
}

/*team-title*/
.team-title{font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 1.17;


color: var(--accent-color) ;
}

.team-member{font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 0.84;

color: var(--accent-color) ;
}

.team-activity{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.89;

color: #757575;
}

/*logo link*/
.location {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #c4c4c4;
}

.communication-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.communication-mai:hover,
.communication-mail:focus {
  color: var(--secondary-color);
}

.communication-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.communication-tel:hover,
.communication-tel:focus {
  color: var(--secondary-color);
}
 
/* portfolio.2htm*/

.nav-button{
font-family: var(--main-font);
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
cursor: pointer;
border:none;

color: var(--accent-color);
}

.nav-button:hover,
.nav-button:focus{
    background-color: var(--secondary-color);
    color: #FFFFFF;
}

.card-title{
    font-family: var(--main-font);
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;



color: var(--accent-color);
}

.card-text{
    font-family: var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88;

color: #757575;
}
